.sidebar-container {
    box-sizing: border-box;
    position: relative;
    padding: 0;
    width: 20%;
    height: 100%;
    row-gap: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #18191a;
    flex-shrink: 0;
}

.sidebar-container .btn {
    padding: 10px;
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 28px;
    color: white;
}

.sidebar-container .btn:hover {
    background-color: #303030;
    animation-duration: 0.5s;
}