/* html {
	font-size:62.5%;
}

* {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

input {
	border: none;
}

body {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Cascadia Code', Consolas, Calibri;
}

.frame {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #ffffff;
}

.frame .main-container {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-start;
}


.frame .main-container .content-container {
  box-sizing: border-box;
  padding: 3.7rem 3.1rem 5.8rem 5.8rem;
  width: 60%;
  height: 100%;
  border: solid 0.1rem #303030;
  background-color: #18191a;
  flex-shrink: 0;
}

.frame .main-container .content-container .profile-container {
  margin: 0rem 35.6rem 6.8rem 0rem;
  width: calc(100% - 35.6rem);
  height: 12rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}

.frame .main-container .content-container .profile-container .profile-pic {
  margin-right: 1.7rem;
  width: 12rem;
  height: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #303030;
  box-sizing: border-box;
  background-color: #18191a;
  border-radius: 0.5rem;
  flex-shrink: 0;
}

.frame .main-container .content-container .profile-container .name-container {
  margin: 3rem 0rem 4.2rem 0rem;
  width: 16.2rem;
  height: calc(100% - 7.2rem);
  flex-shrink: 0;
}

.frame .main-container .content-container .profile-container .name-container .name {
  margin-bottom: 0.2rem;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  white-space: nowrap;
}

.frame .main-container .content-container .profile-container .name-container .extra-info {
  width: 100%;
  text-align: center;
  font-size: 1.2207rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  white-space: nowrap;
}

.frame .main-container .content-container .bottom-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.frame .main-container .content-container .bottom-container .stats-container {
  margin-right: 6.1rem;
  width: 20.6rem;
  border-radius: 1rem;
  flex-shrink: 0;
}

.frame .main-container .content-container .bottom-container .stats-container .stats-txt {
  margin-bottom: 0.6rem;
  font-size: 2.64rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  
  white-space: nowrap;
}

.frame .main-container .content-container .bottom-container .stats-container .user-stats-container {
  box-sizing: border-box;
  padding: 1rem 2.7rem 1.8rem 1.8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #303030;
  background-color: #18191a;
  border-radius: 1rem;
}

.frame .main-container .content-container .bottom-container .stats-container .user-stats-container .posts-container {
  margin-bottom: 1.7rem;
  width: 100%;
  height: 3.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.frame .main-container .content-container .bottom-container .stats-container .user-stats-container .posts-container .posts {
  margin-right: 3.5rem;
  width: 6.4rem;
  height: 100%;
  flex-shrink: 0;
}
.frame .main-container .content-container .bottom-container .stats-container .user-stats-container .posts-container .posts .value {
  width: 100%;
  text-align: center;
  font-size: 1.5546rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  white-space: nowrap;
}
.frame .main-container .content-container .bottom-container .stats-container .user-stats-container .posts-container .posts .txt {
  width: 100%;
  text-align: center;
  font-size: 1.5553rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #929292;
  white-space: nowrap;
}
.frame .main-container .content-container .bottom-container .stats-container .user-stats-container .posts-container .upvotes {
  width: 6.2rem;
  height: 100%;
  flex-shrink: 0;
}
.frame .main-container .content-container .bottom-container .stats-container .user-stats-container .posts-container .upvotes .value {
  width: 100%;
  text-align: center;
  font-size: 1.5546rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  
  white-space: nowrap;
}
.frame .main-container .content-container .bottom-container .stats-container .user-stats-container .posts-container .upvotes .txt {
  width: 100%;
  text-align: center;
  font-size: 1.5553rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #929292;
  white-space: nowrap;
}

.frame .main-container .content-container .bottom-container .stats-container .user-stats-container .comments-container {
  margin-bottom: 1.7rem;
  width: 100%;
  height: 3.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.frame .main-container .content-container .bottom-container .stats-container .user-stats-container .comments-container .comments {
  margin-right: 3.5rem;
  width: 6.4rem;
  height: 100%;
  flex-shrink: 0;
}
.frame .main-container .content-container .bottom-container .stats-container .user-stats-container .comments-container .comments .value {
  width: 100%;
  text-align: center;
  font-size: 1.5546rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  white-space: nowrap;
}
.frame .main-container .content-container .bottom-container .stats-container .user-stats-container .comments-container .comments .txt {
  width: 100%;
  text-align: center;
  font-size: 1.5553rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #929292;
  white-space: nowrap;
}
.frame .main-container .content-container .bottom-container .stats-container .user-stats-container .comments-container .upvotes {
  width: 6.2rem;
  height: 100%;
  flex-shrink: 0;
}
.frame .main-container .content-container .bottom-container .stats-container .user-stats-container .comments-container .upvotes .value {
  width: 100%;
  text-align: center;
  font-size: 1.5546rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  
  white-space: nowrap;
}
.frame .main-container .content-container .bottom-container .stats-container .user-stats-container .comments-container .upvotes .txt {
  width: 100%;
  text-align: center;
  font-size: 1.5553rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #929292;
  white-space: nowrap;
}
.frame .main-container .content-container .bottom-container .stats-container .user-stats-container .total-upvotes-container {
  margin: 0rem 2.4rem 0rem 3.5rem;
  width: calc(100% - 5.9rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame .main-container .content-container .bottom-container .stats-container .user-stats-container .total-upvotes-container .value {
  width: 100%;
  text-align: center;
  font-size: 1.5546rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  white-space: nowrap;
  flex-shrink: 0;
}
.frame .main-container .content-container .bottom-container .stats-container .user-stats-container .total-upvotes-container .txt {
  width: 100%;
  text-align: center;
  font-size: 1.5553rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #929292;
  
  white-space: nowrap;
  flex-shrink: 0;
}

.frame .main-container .content-container .bottom-container .information-container {
  margin-top: 0.3rem;
  width: 48.8rem;
  border-radius: 1rem;
  flex-shrink: 0;
  overflow: hidden;
}

.frame .main-container .content-container .bottom-container .information-container .label {
  margin-bottom: 0.6rem;
  width: 100%;
  text-align: left;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  white-space: nowrap;
}

.frame .main-container .content-container .bottom-container .information-container .container {
  box-sizing: border-box;
  padding: 1rem 2.6rem 1rem 2.4rem;
  width: 100%;
  height: 35.2rem;
  display: block;
  border: solid 0.1rem #303030;
  background-color: #18191a;
  border-radius: 1rem;
}

.frame .main-container .content-container .bottom-container .information-container .container .info-container {
  position: relative;
  width: 100%;
  padding: 0;
  margin-bottom: 5%;
}

.frame .main-container .content-container .bottom-container .information-container .container .info-container .label {
  color: #929292;
  white-space: nowrap;
  font-size: 1.76rem;
  font-weight: 400;
  text-align: left;
}

.frame .main-container .content-container .bottom-container .information-container .container .info-container .value {
  color: #ffffff;
  white-space: nowrap;
  font-size: 1.86rem;
  font-weight: 400;
  text-align: left;
} */