
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
  font-family: 'Cascadia Code', Consolas, Calibri;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  padding: 0;
  margin: 0;
}

.frame {
  width: 100%;
  background-color: #18191a;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  padding: 9.5rem 60rem 20.6rem 60rem;
}

.frame .logo {
  margin: 0rem 0rem 2.4rem 0.1rem;
  width: 8.1rem;
  height: 8.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame .label {
  margin: 0rem 0rem 1.5rem 0.1rem;
  text-align: center;
  font-size: 2.0rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  white-space: nowrap;
  flex-shrink: 0;
}
.frame .form-container {
  margin-bottom: 1.6rem;
  box-sizing: border-box;
  padding: 2.8rem 2rem 2.3rem 1.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #242526;
  border-radius: 1rem;
  flex-shrink: 0;
}
.frame .form-container .email {
  margin: 0rem 0rem 1.1rem 0.3rem;
  width: 29.6rem;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.frame .form-container .email .label {
  margin-bottom: 0.6rem;
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  white-space: nowrap;
}

.frame .form-container .email .value {
  width: 100%;
  height: 3rem;
  border: solid 0.1rem #3a3b3c;
  box-sizing: border-box;
  background-color: #18191a;
  border-radius: 0.5rem;
  color: white;
}

.frame .form-container .email .value:focus {
  outline: 2px solid #3572af;
}

.frame .form-container .password {
  margin-bottom: 2.3rem;
  box-sizing: border-box;
  padding-left: 0.3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.frame .form-container .password .label {
  margin-bottom: 0.6rem;
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  white-space: nowrap;
  flex-shrink: 0;
}
.frame .form-container .password .value {
  width: 100%;
  height: 3rem;
  border: solid 0.1rem #3a3b3c;
  box-sizing: border-box;
  background-color: #18191a;
  color: white;
  border-radius: 0.5rem;
  flex-shrink: 0;
}

.frame .form-container .password .value:focus {
  outline: 2px solid #3572af;
}
.frame .form-container .sign-in {
  margin-left: 0.3rem;
  width: 29.6rem;
  height: 3rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #3a3b3c;
  box-sizing: border-box;
  background-color: #18191a;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.frame .verify-container {
  width: 100%;
  height: 2.9rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #242526;
  border-radius: 0.6rem;
  flex-shrink: 0;
}

.frame .verify-container .create-account {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  cursor: pointer;
}
