html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
  font-family: 'Cascadia Code', Consolas, Calibri;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  padding: 0;
  margin: 0;
}

.register-frame {
  height: 100vh;
  width: 100%;
  position: absolute;
  background-color: #18191a;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  padding: 9.5rem 60rem 20.6rem 60rem;
}

.register-frame .logo {
  margin: 0rem 0rem 1.4rem 0.1rem;
  width: 8.1rem;
  height: 8.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.register-frame .label {
  margin: 0rem 0rem 1.5rem 0.1rem;
  text-align: center;
  font-size: 1.8854rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  
  white-space: nowrap;
  flex-shrink: 0;
}
.register-frame .form-container {
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  padding: 2.1rem 2rem 2.2rem 1.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #242526;
  border-radius: 1rem;
  flex-shrink: 0;
}
.register-frame .form-container .email {
  margin: 0rem 0rem 1rem 0.3rem;
  width: 29.6rem;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.register-frame .form-container .email .label {
  margin-bottom: 0.6rem;
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  
  white-space: nowrap;
}
.register-frame .form-container .email .value {
  width: 100%;
  height: 3rem;
  border: solid 0.1rem #3a3b3c;
  box-sizing: border-box;
  background-color: #18191a;
  border-radius: 0.5rem;
  color: white;
}

.register-frame .form-container .email .value:focus {
  outline: 2px solid #3572af;
}

.register-frame .form-container .username {
  margin-bottom: 1.2rem;
  box-sizing: border-box;
  padding-left: 0.15rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.register-frame .form-container .username .label {
  margin-bottom: 0.6rem;
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  
  white-space: nowrap;
  flex-shrink: 0;
}
.register-frame .form-container .username .value {
  margin-left: 0.15rem;
  width: 29.6rem;
  height: 3rem;
  border: solid 0.1rem #3a3b3c;
  box-sizing: border-box;
  background-color: #18191a;
  border-radius: 0.5rem;
  flex-shrink: 0;
  color: white;
}

.register-frame .form-container .username .value:focus {
  outline: 2px solid #3572af;
}

.register-frame .form-container .new-password {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding-left: 0.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.register-frame .form-container .new-password .label {
  margin-bottom: 0.6rem;
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  
  white-space: nowrap;
  flex-shrink: 0;
}
.register-frame .form-container .new-password .value {
  margin-left: 0.1rem;
  width: 29.6rem;
  height: 3rem;
  border: solid 0.1rem #3a3b3c;
  box-sizing: border-box;
  background-color: #18191a;
  border-radius: 0.5rem;
  flex-shrink: 0;
  color: white;
}

.register-frame .form-container .new-password .value:focus {
  outline: 2px solid #3572af;
}

.register-frame .form-container .confirm-password {
  margin-bottom: 2.3rem;
  box-sizing: border-box;
  padding-left: 0.05rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.register-frame .form-container .confirm-password .label {
  margin-bottom: 0.6rem;
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  
  white-space: nowrap;
  flex-shrink: 0;
}
.register-frame .form-container .confirm-password .value {
  margin-left: 0.25rem;
  width: 29.6rem;
  height: 3rem;
  border: solid 0.1rem #3a3b3c;
  box-sizing: border-box;
  background-color: #18191a;
  border-radius: 0.5rem;
  flex-shrink: 0;
  color: white;
}

.register-frame .form-container .confirm-password .value:focus {
  outline: 2px solid #3572af;
}

.register-frame .form-container .send-code {
  margin-left: 0.3rem;
  width: 29.6rem;
  height: 3rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #3a3b3c;
  box-sizing: border-box;
  background-color: #18191a;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.register-frame .already-have-account {
  width: 100%;
  height: 2.9rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #242526;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.register-frame .already-have-account .txt {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  cursor: pointer;
}
