html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
  font-family: 'Cascadia Code', Consolas, Calibri;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  padding: 0;
  margin: 0;
}

.verify-code-frame {
  padding: 11.7rem 55rem 26.5rem 55rem;
  height: 100vh;
  width: 100%;
  position: absolute;
  background-color: #18191a;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

.verify-code-frame .logo {
  margin: 0rem 0rem 2.3rem 0.1rem;
  width: 8.1rem;
  height: 8.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}

.verify-code-frame .label {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  
  white-space: nowrap;
  flex-shrink: 0;
}
.verify-code-frame .form-container {
  margin: 0rem 3rem 1.7rem 3rem;
  box-sizing: border-box;
  padding: 2.1rem 2rem 2.4rem 2rem;
  width: calc(100% - 6rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #242526;
  border-radius: 1rem;
  flex-shrink: 0;
}
.verify-code-frame .form-container .verification-code {
  margin-bottom: 2.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.verify-code-frame .form-container .verification-code .label {
  margin-bottom: 0.6rem;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  
  white-space: nowrap;
  flex-shrink: 0;
}

.verify-code-frame .form-container .verification-code .value {
  width: 100%;
  height: 3rem;
  border: solid 0.1rem #3a3b3c;
  box-sizing: border-box;
  background-color: #18191a;
  border-radius: 0.5rem;
  flex-shrink: 0;
  color: white;
}

.verify-code-frame .form-container .verification-code .value:focus {
  outline: 2px solid #3572af;
}

.verify-code-frame .form-container .verify-btn {
  width: 100%;
  height: 3rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #3a3b3c;
  box-sizing: border-box;
  background-color: #18191a;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.verify-code-frame .already-have-account {
  margin: 0 3rem;
  width: calc(100% - 6rem);
  height: 2.9rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #242526;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.verify-code-frame .already-have-account .txt {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  cursor: pointer;
}
