.sidebar-left-container {
    box-sizing: border-box;
    padding: 3.2rem 11rem 49.2rem 8.65rem;
    width: 26.8rem;
    row-gap: 2.3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #18191a;
    flex-shrink: 0;
}

.sidebar-left-container .home-btn {
    border: none;
    text-align: center;
    padding: 10px 150px;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #ffffff;
    background: none;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.sidebar-left-container .home-btn:hover {
    background-color:#3a3b3c;
    transition: 0.2s;
}

.sidebar-left-container .users-btn {
    border: none;
    text-align: center;
    padding: 10px 120px;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #ffffff;
    background: none;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.sidebar-left-container .users-btn:hover {
    background-color:#3a3b3c;
    transition: 0.2s;
}

.sidebar-left-container .saves-btn {
    border: none;
    text-align: center;
    padding: 10px 120px;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #ffffff;
    background: none;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.sidebar-left-container .saves-btn:hover {
    background-color:#3a3b3c;
    transition: 0.2s;
}